.base-settings {
    margin-left: 3px;
    margin-bottom: 5px;
    -unity-font-style: bold;
}

.keycode {
    margin-left: 12px;
}

.buttons-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.screenshot-tool-button {
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
}

.screenshot-tool-button-icon {
    width: 14px;
    height: 14px;
}